/* Colors: */
$color-2c2b2b: #2C2B2B;
$color-ffffff: #FFFFFF;
$color-707070: #707070;
$color-f5f4d7: #F5F4D7;
$color-a87272: #A87272;
$color-f5bfbf: #F5BFBF;

/* Font/text values */
$font-family-baloo-tamma-2: 'Baloo 2';
$font-family-lora: 'Lora';
$font-style-normal: normal;
$font-weight-600: 600px;
$font-weight-bold: bold;
$font-weight-medium: medium;
$font-weight-normal: normal;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-40: 40px;
$font-size-100: 100px;
$character-spacing-0: 0px;
$line-spacing-24: 24px;
$line-spacing-34: 34px;
$line-spacing-69: 69px;
$line-spacing-105: 105px;
